<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <style>
        h2{
            position: relative;
            left: 120px;
        }
        form {
            text-align: center;
            vertical-align: middle;
            display: inline;
        }
        input[type=text] {
            width: 30%;
            margin: 8px 0;
            border: none;
            border-radius: 18px;
            cursor: pointer;
            display: inline-block;
        }
        label {
            width: 240px;
            display: inline-block;
            padding: 8px;
        }
        #gender {
            width: 30%;
            margin: 8px 0;
            border: none;
            border-radius: 18px;
            cursor: pointer;
            display: inline-block;
        }
        button{
            margin: -20px -50px; 
            position:relative;
            top:50%; 
            left:52%;
        }
    </style>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/styles/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h2>Create Account</h2>
    <form action="/create-data" method="POST">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" id="username">
        </div>
        <div class="form-group">
            <label for="firstName">First Name:</label>
            <input type="text" class="form-control" name="firstName" id="firstName">
        </div>
        <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input type="text" class="form-control" name="lastName" id="lastName">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" name="email" id="email">
        </div>
        <div class="form-group">
            <label for="phone">Phone:</label>
            <input type="text" class="form-control" name="phone" id="phone">
        </div>
        <div class="form-group">
            <label for="DOB">DOB(MM-DD-YYYY):</label>
            <input type="text" class="form-control" name="DOB" id="DOB">
        </div>
        <div class="form-group">
            <label for="gender">Gender:</label>
            <select id="gender" class="form-control" name="gender">
                <option selected value="Select">Select</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Prefer not to say">Prefer not to say</option>
            </select>
        </div>
        <div class="form-group">
            <label for="weight">Weight:</label>
            <input type="text" class="form-control" name="weight" id="weight">
        </div>
        <div class="form-group">
            <label for="height">Height:</label>
            <input type="text" class="form-control" name="height" id="height">
        </div>
        <button class="btn btn-primary">Create</button>
    </form>
    <!-- <form action="/" method="POST">
        <button class="btn btn-primary">Login</button>
    </form> -->
</body>
</html>