body {
  background: #282c34;
  color: white;
}

.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color:black;
  color: white;
  height: 120px;
  margin-top: -30px;
  padding-top: 40px;
  margin-bottom: 50px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

/*.App-header {*/
/*  background-color: #282c34;*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/

.App-link {
  color: #61dafb;
}

#login-error {
  color: red;
}
