/*.padding {*/
/*  position: relative;*/
/*  left: 222px;*/
/*}*/

.list-container {
  display: flex;
  margin: 20px 30px 20px 300px;
  background: white;
  /* opacity: 0.9; */
  color: black;
  padding: 10px;
}

.list-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.list-text {
  flex: 6;
  padding-left: 40px;
  margin-right: 20px;
}

.list-text h3 {
  text-align: left;
}

.list-container p {
  text-align: left;
}

.list-container button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid black;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: black;
  text-align: center;
  transition: all 0.2s;
  border: none;
  border-radius: 18px;
  color: white;
  font-weight: 500;
  background-color: #007ab8;
}

.list-container button:hover {
  color: white;
  background-color: #00699e;
}

.list-container button[disabled] {
  background-color: #bbbbbb;
  pointer-events: none;
}

.list-ops {
  flex: 1;
  margin-top: 20px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-left: 1px solid black;
}

.schedule-button {
  margin-top: 110px;
}
