.App-link {
  position: relative;
  right: 15px;
}

.side-nav {
  background: darkslategrey ;
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 90px;
  left: 0;
  overflow-x: hidden;

}

.side-nav ul {
  margin-left: 0;
  padding-inline-start: 0;

}

.side-nav h2 {
  font-size: 1.5em;
}

.side-nav li {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: white 1px;
}

.side-nav li:hover {
  background-color: seagreen;
}

