.edit-container {
  position: relative;
  left: 560px;
  bottom: 200px;
  background: white;
  color: black;
  width: 40%;
}
.edit-form {
  position: relative;
  top: 50px;
  text-align: center;
  vertical-align: middle;
  display: inline;
  width: 400px;
}

.form-control {
  background: #f0f0f0;
}

.title-form {
  position: relative;
  top: 30px;
}
.edit-form input {
  position: relative;
  right: 95px;
  width: 30%;
  margin: 8px 0;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  display: inline-block;
  background-color: #eaecef;
}
.edit-form label {
  position: relative;
  right: 95px;
  width: 200px;
  display: inline-block;
  padding: 8px;
}

#update-button {
  position: relative;
  left: 45%;
  bottom: 60px;
  border: none;
  border-radius: 18px;
  background-color: #007ab8;
  font-weight: 500;
}

#update-button button:hover {
  background-color: #00699e;
}

#reset-button {
  position: relative;
  left: 17%;
  bottom: 10px;
  width: 80px;
  border: none;
  border-radius: 18px;
  background-color: #007ab8;
  font-weight: 500;
}

#reset-button button:hover {
  background-color: #00699e;
}
