.add-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 200px;
}

.add-form button {
  border: none;
  border-radius: 18px;
  width: 20%;
  background-color: #007ab8;
  font-weight: 500;
  color: white;
  height: 40px;
}

.add-form button:hover {
  background-color: #00699e;
}

.personal-schedule-container button {
  width: 100px;
  font-weight: 500;
}

.form-row {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.button-row {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.form-row > label {
  flex: 1;
  display: block;
  text-align: left;
}

.form-row > input,
.form-row > select {
  flex: 6;
  border: 0;
  border-bottom: 1px solid black;
  outline: 0;
}

.form-row > textarea {
  flex: 6;
}
