#login-label {
  position: relative;
  right: 30px;
}
#login-button {
  position: relative;
  left: 30px;
}
#register-button {
  position: relative;
  left: 50px;
}

#username {
  border: 0;
  outline: 0;
  width: 300px;
  background: transparent;
  border-bottom: 1px solid black;
}