#login-form input {
  border: 0;
  outline: 0;
  width: 300px;
  background: transparent;
  border-bottom: 1px solid black;
}

#login-form .button-placeholder {
  align-items: center;
  width: 300px;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}

#login-button {
  border: none;
  border-radius: 18px;
  width: 80%;
  color: white;
  font-weight: 500;
  background-color: #007ab8;
  position: relative;
  left: 35px;
  height: 35px;
}

#login-button:hover {
  background-color: #00699e;
}

.ml-2 {
  color: #007ab8;
}
