.register-form {
  position: relative;
  top: 25px;
  line-height: 5%;
}

.register-form input {
  position: relative;
  width: 20%;
  margin: 8px 0;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  display: inline-block;
}

#date {
  width: 378px;
  height: 36px;
}

#gender {
  position: relative;
  width: 20%;
  margin: 8px 0;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  display: inline-block;
}

.register-form button {
  border: none;
  border-radius: 18px;
  width: 20%;
}

.register-form a {
  position: relative;
  top: 30px;
}

#usernameError {
  position: relative;
  bottom: 26px;
  left: 280px;
}

#passwordError {
  position: relative;
  bottom: 42px;
  left: 280px;
}

#emailError {
  position: relative;
  bottom: 28px;
  left: 270px;
}

#duplicatesError {
  position: relative;
  top: 70px;
}
