.register-form h3 {
  position: relative;
  bottom: 50%;
}
.register-form {
  position: relative;
  top: 30px;
  line-height: 30%;
}

.register-form input {
  position: relative;
  right: 95px;
  width: 20%;
  margin: 8px 0;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  display: inline-block;
}

.register-form label {
  position: relative;
  right: 95px;
  width: 200px;
  display: inline-block;
  padding: 8px;
}

#date {
  width: 378px;
  height: 36px;
}

#gender {
  position: relative;
  right: 95px;
  width: 20%;
  margin: 8px 0;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  display: inline-block;
}

/* #back-button {
  left: 80px;
} */

.register-form a {
  position: relative;
  top: 50px;
}
